<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    
    <div class="container my-5">
        <form action="/chats/upload-video" method="POST" enctype="multipart/form-data">        
            <div class="custom-file my-5 col-sm-12">
                <!-- <input type="file" accept="image/jpg" name="image" required>
                <label class="custom-file-label" for="customFile">Choose file</label> -->

                <label for="exampleFormControlFile1">Example file input</label>
                <br>
                <!-- <input type="file" accept="image/jpg" name="pic-to-be-sent" required> -->
                <input type="file" name="video"/>
                <br>
                <input type="submit">
            </div>
        </form>
        <a href="/logout">Logout</a>

    </div>
<ul id="messages"></ul>

</body>
</html>